html,
body {
    height: 100%;
    background-color: black;
    color: white;
    font-family: 'SF Pro Display', sans-serif;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100vw;
    max-height: 100vh;
    height: auto;
    aspect-ratio: 4/3;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    text-align: center;
}
